.layout {
    display: flex;
    margin-left: 10px;
  }
  
  
  .custom-sidebar.collapsed {
    width: 80px;
  }
  
  .main-area {
    margin-left: 250px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .layout.sidebar-collapsed .main-area {
    margin-left: 80px;
  }
  
