/* Navbar.css */
.navbar {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  /* Tambahkan supaya navbar tidak tertutup sidebar */
  .main-content {
    margin-left: 250px; /* Sama dengan lebar sidebar kamu */
    width: calc(100% - 250px);
  }
  
  /* Tombol */
  .toggle-button,
  .notification-button,
  .logout-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    color: black;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  